<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Show Campground </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Show Campground </h1>

        <h3> <%=campground.title%> </h3>
        <p> <%=campground.location%></p>


        <a href="/campgrounds/<%=campground._id%>/edit"> Edit </a>

        <form action="/campgrounds/<%=campground._id%>/?_method=DELETE" method="POST">
        <button> Delete </button>
        </form>

        <a href="/campgrounds"> All Campgrounds </a>
    </body>
</html>