<%- layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1> New Campground </h1>

        <form class="" method="POST" action="/campgrounds">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="campground[title]">
            </div>
              
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="campground[location]">
            </div>

            <button type="submit" class="btn btn-primary">Register a campground </button>
          </form>
        </form>

    </div>
</div>

